<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dbsetup</servlet-name>
        <servlet-class>Db.dbsetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Db.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Db.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Db.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Achievements</servlet-name>
        <servlet-class>Reports.Achievements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_years</servlet-name>
        <servlet-class>Loaders.load_years</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_semi_annual</servlet-name>
        <servlet-class>Loaders.load_semi_annual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_quarters</servlet-name>
        <servlet-class>Loaders.load_quarters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_months</servlet-name>
        <servlet-class>Loaders.load_months</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alldata</servlet-name>
        <servlet-class>powerbi.alldata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alldata1</servlet-name>
        <servlet-class>powerbi.alldata1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pbioutput</servlet-name>
        <servlet-class>powerbi.pbioutput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_user</servlet-name>
        <servlet-class>Dashboards.save_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_counties</servlet-name>
        <servlet-class>Loaders.load_counties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_district</servlet-name>
        <servlet-class>Loaders.load_district</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_facilities</servlet-name>
        <servlet-class>Loaders.load_facilities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_users</servlet-name>
        <servlet-class>Dashboards.load_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_user</servlet-name>
        <servlet-class>Dashboards.check_user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbsetup</servlet-name>
        <url-pattern>/dbsetup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Achievements</servlet-name>
        <url-pattern>/Achievements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_years</servlet-name>
        <url-pattern>/load_years</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_semi_annual</servlet-name>
        <url-pattern>/load_semi_annual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_quarters</servlet-name>
        <url-pattern>/load_quarters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_months</servlet-name>
        <url-pattern>/load_months</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alldata</servlet-name>
        <url-pattern>/alldata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alldata1</servlet-name>
        <url-pattern>/alldata1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pbioutput</servlet-name>
        <url-pattern>/pbioutput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_user</servlet-name>
        <url-pattern>/save_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_counties</servlet-name>
        <url-pattern>/load_counties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_district</servlet-name>
        <url-pattern>/load_district</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_facilities</servlet-name>
        <url-pattern>/load_facilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_users</servlet-name>
        <url-pattern>/load_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_user</servlet-name>
        <url-pattern>/check_user</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
